<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HOME</title>
    </head>
    <body>
        <h1>The Home Page <%= 4 + 5 + 1 %></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            reprehenderit necessitatibus ut quidem alias recusandae veritatis.
            Quidem, in tempore voluptates maiores necessitatibus obcaecati enim
            recusandae? Ducimus reiciendis enim libero ea!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit harum quas cum obcaecati eaque aspernatur ad dolores
            adipisci! Ipsum rem esse autem dolores nobis voluptates possimus
            repellendus laboriosam labore aliquam?
        </p>
    </body>
</html>
